

body {
    border-style: solid;
    border-width: 25px;
    border-color: rgb(76, 77, 104);
    background-color: rgb(249, 248, 248);
    
}

.wrapper    {
    background-color: rgb(249, 248, 248);
    border-top: solid 15px rgb(243, 222, 138);
    /* border-bottom: solid 15px rgb(243, 222, 138); */
 
}
 img.imgwrapper {
     display: inline-block;
    
 }


.container {
    display: flex;
    padding-right: 10px;
    background-color: rgb(249, 248, 248);
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: center;
    align-items: center;
}

   
img.soap    {
    display: inline;
    width: auto;
    height: 50%;
    align-content: right;
    padding-left: 5px;
    margin: 0px 20px;

} 

/* .imgwrapper {
    display: inline-flex;
    width: 450px;
} */

 aside {
    display: inline-block;
    border-style: solid;
    border-color: rgb(235, 148, 134);
    border-width: 10px;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    height: auto;
    font-style: "Fira Sans", Helvetica, Arial;
    font-size: 12pt;
    text-align-last: center;
    text-justify: distribute;
 }

h2, h3  {
    font-style: "Lucida Bright", Helvetica, Arial;
    background-color: rgb(249, 248, 248);
}


#disclaimer {
    text-align: center;
    background-color: rgb(249, 248, 248);
    font: 10pt;
    font-style: "Lucida Bright", Helvetica, Arial;
}

#payconfirm {
    background-color: rgb(249, 248, 248); 
    text-align: center;
    border: solid 20px rgb(243, 222, 138);
  

}

#border {
    border: solid 20px rgb(249, 248, 248);
}
footer {
    text-align: center;
    height: fit-content;

}

#footcolor  {
    background-color: rgb(243, 222, 138);
}
/* START RESPONSIVE/*

 /* extra large screens */


       
/* DESKTOP */
/* @media all and (max-width: 2560px)   {
         
    
   
/*TABLET
@media all and (max-width: 920px) and (min-width: 1024px) 

/* PHONE RESPONSE 
@media all and (max-width: 420px) 
          
        {

         img.soap {
                 width: 100%;
                 justify-items: center;
          }
          
    