
* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v204_31 {
  width: 100%;
  height: 2045px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v204_58 {
  width: 117px;
  height: 104px;
  background: url("../images/v204_58.png");
  opacity: 1;
  position: absolute;
  top: 293px;
  left: 1069px;
}
.v204_94 {
  width: 49px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 527px;
  left: 879px;
  font-family: Fira Sans;
  font-weight: Bold;
  font-size: 26px;
  opacity: 1;
  text-align: center;
}
.v204_95 {
  width: 106px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 527px;
  left: 1237px;
  font-family: Fira Sans;
  font-weight: Bold;
  font-size: 26px;
  opacity: 1;
  text-align: center;
}
.v204_96 {
  width: 143px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 522px;
  left: 350px;
  font-family: Fira Sans;
  font-weight: Bold;
  font-size: 26px;
  opacity: 1;
  text-align: center;
}
.v204_97 {
  width: 62px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 527px;
  left: 698px;
  font-family: Fira Sans;
  font-weight: Bold;
  font-size: 26px;
  opacity: 1;
  text-align: center;
}
.v204_98 {
  width: 395px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 432px;
  left: 61px;
  font-family: Fira Mono;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v204_99 {
  width: 100%;
  height: 114px;
  background: url("../images/v204_99.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 597px;
  left: 136px;
  overflow: hidden;
}
.v204_100 {
  width: 144px;
  height: 114px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v204_101 {
  width: 312px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 93px;
  left: 175px;
  font-family: Fira Sans;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v204_102 {
  width: 35px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 89px;
  left: 562px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v204_103 {
  width: 41px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 86px;
  left: 1133px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v204_104 {
  width: 27px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 90px;
  left: 749px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v204_105 {
  width: 16px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 690px;
  left: 869px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v204_106 {
  width: 100%;
  height: 114px;
  background: url("../images/v204_106.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 767px;
  left: 130px;
  overflow: hidden;
}
.v204_107 {
  width: 144px;
  height: 114px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v204_108 {
  width: 312px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 93px;
  left: 175px;
  font-family: Fira Sans;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v204_109 {
  width: 35px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 89px;
  left: 568px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v204_110 {
  width: 41px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 86px;
  left: 1133px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v204_111 {
  width: 27px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 90px;
  left: 749px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v204_112 {
  width: 16px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 860px;
  left: 863px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v204_113 {
  width: 100%;
  height: 502px;
  background: url("../images/v204_113.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1225px;
  left: 267px;
  overflow: hidden;
}
.v204_114 {
  width: 100%;
  height: 502px;
  background: url("../images/v204_114.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v204_115 {
  width: 463px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Fira Sans;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v204_116 {
  width: 517px;
  height: 44px;
  background: rgba(249,248,248,1);
  opacity: 1;
  position: absolute;
  top: 314px;
  left: 684px;
  border: 5px solid rgba(39,40,56,1);
  overflow: hidden;
}
.v204_117 {
  width: 517px;
  height: 44px;
  background: rgba(249,248,248,1);
  opacity: 1;
  position: absolute;
  top: 174px;
  left: 685px;
  border: 5px solid rgba(39,40,56,1);
  overflow: hidden;
}
.v204_118 {
  width: 517px;
  height: 44px;
  background: rgba(249,248,248,1);
  opacity: 1;
  position: absolute;
  top: 170px;
  left: 99px;
  border: 5px solid rgba(39,40,56,1);
  overflow: hidden;
}
.v204_119 {
  width: 517px;
  height: 44px;
  background: rgba(249,248,248,1);
  opacity: 1;
  position: absolute;
  top: 314px;
  left: 94px;
  border: 5px solid rgba(39,40,56,1);
  overflow: hidden;
}
.v204_120 {
  width: 174px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 117px;
  left: 95px;
  font-family: Fira Sans;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v204_121 {
  width: 171px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 118px;
  left: 687px;
  font-family: Fira Sans;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v204_122 {
  width: 130px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 260px;
  left: 95px;
  font-family: Fira Sans;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v204_123 {
  width: 61px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 260px;
  left: 692px;
  font-family: Fira Sans;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v204_124 {
  width: 522px;
  height: 89px;
  background: url("../images/v204_124.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 413px;
  left: 99px;
  overflow: hidden;
}
.v204_125 {
  width: 101px;
  height: 44px;
  background: rgba(249,248,248,1);
  opacity: 1;
  position: absolute;
  top: 45px;
  left: 0px;
  border: 5px solid rgba(39,40,56,1);
  overflow: hidden;
}
.v204_126 {
  width: 251px;
  height: 44px;
  background: rgba(249,248,248,1);
  opacity: 1;
  position: absolute;
  top: 45px;
  left: 271px;
  border: 5px solid rgba(39,40,56,1);
  overflow: hidden;
}
.v204_127 {
  width: 85px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Fira Sans;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v204_128 {
  width: 142px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 278px;
  font-family: Fira Sans;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v204_129 {
  width: 918px;
  height: 187px;
  background: rgba(242,239,239,1);
  opacity: 1;
  position: absolute;
  top: 937px;
  left: 305px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v204_130 {
  width: 100%;
  height: 121px;
  background: url("../images/v204_130.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 965px;
  left: 305px;
  overflow: hidden;
}
.v204_131 {
  width: 100%;
  height: 32px;
  background: url("../images/v204_131.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 67px;
  overflow: hidden;
}
.v204_132 {
  width: 93px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 908px;
  font-family: Averia Libre;
  font-weight: Bold;
  font-size: 26px;
  opacity: 1;
  text-align: center;
}
.v204_133 {
  width: 93px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 255px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 26px;
  opacity: 1;
  text-align: center;
}
.v204_134 {
  width: 34px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 26px;
  opacity: 1;
  text-align: center;
}
.v204_135 {
  width: 127px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 511px;
  font-family: Averia Libre;
  font-weight: Bold;
  font-size: 26px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v204_137 {
  width: 100%;
  height: 22px;
  background: url("../images/v204_137.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v204_138 {
  width: 136px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 300px;
  font-family: Fira Sans;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v204_139 {
  width: 83px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 975px;
  font-family: Fira Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v204_140 {
  width: 142px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 564px;
  font-family: Fira Sans;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v204_141 {
  width: 166px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Fira Sans;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v204_142 {
  width: 268px;
  height: 187px;
  background: url("../images/v204_142.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 937px;
  left: 1502px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.28999999165534973);
  overflow: hidden;
}
.v204_143 {
  width: 268px;
  height: 187px;
  background: url("../images/v204_143.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v204_144 {
  width: 268px;
  height: 187px;
  background: url("../images/v204_144.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v204_145 {
  width: 268px;
  height: 187px;
  background: url("../images/v204_145.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v204_146 {
  width: 268px;
  height: 187px;
  background: rgba(235,148,134,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v204_147 {
  width: 159px;
  color: rgba(19,19,19,1);
  position: absolute;
  top: 48px;
  left: 54px;
  font-family: Fira Sans;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v204_148 {
  width: 100%;
  height: 95px;
  background: rgba(243,222,138,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 30px;
}
.v204_149 {
  width: 256px;
  height: 174px;
  background: rgba(235,148,134,1);
  opacity: 1;
  position: absolute;
  top: 1659px;
  left: 1362px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v204_150 {
  width: 169px;
  color: rgba(19,18,18,1);
  position: absolute;
  top: 1701px;
  left: 1405px;
  font-family: Fira Sans;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v204_166 {
  width: 100%;
  height: 63px;
  background: rgba(243,222,138,1);
  opacity: 1;
  position: absolute;
  top: 1958px;
  left: 27px;
}
.v204_167 {
  width: 378px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1971px;
  left: 726px;
  font-family: Aleo;
  font-weight: Regular;
  font-size: 18px;
  opacity: 0.7799999713897705;
  text-align: center;
}
.v204_168 {
  width: 100%;
  height: 132px;
  background: url("../images/v204_168.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 171px;
  left: 105px;
  overflow: hidden;
}
.v204_169 {
  width: 100%;
  height: 132px;
  background: url("../images/v204_169.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 484px;
  overflow: hidden;
}
.v204_170 {
  width: 196px;
  height: 56px;
  background: rgba(235,148,134,1);
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 165px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v204_171 {
  width: 177px;
  color: url("../images/v204_171.png");
  position: absolute;
  top: 46px;
  left: 540px;
  font-size: 26px;
  opacity: 1;
  text-align: center;
}
.v204_172 {
  width: 95px;
  color: rgba(39,40,56,1);
  position: absolute;
  top: 50px;
  left: 44px;
  font-family: Fira Sans;
  font-weight: Regular;
  font-size: 26px;
  opacity: 1;
  text-align: center;
}
.v204_173 {
  width: 115px;
  color: url("../images/v204_173.png");
  position: absolute;
  top: 52px;
  left: 211px;
  font-size: 26px;
  opacity: 1;
  text-align: center;
}
.v204_174 {
  width: 109px;
  color: rgba(39,40,56,1);
  position: absolute;
  top: 52px;
  left: 383px;
  font-family: Fira Sans;
  font-weight: Regular;
  font-size: 26px;
  opacity: 1;
  text-align: center;
}
.v204_175 {
  width: 155px;
  color: url("../images/v204_175.png");
  position: absolute;
  top: 72px;
  left: 721px;
  font-family: Aldrich;
  font-weight: Regular;
  font-size: 26px;
  opacity: 1;
  text-align: center;
}
.v204_176 {
  width: 182px;
  color: rgba(39,40,56,1);
  position: absolute;
  top: 52px;
  left: 760px;
  font-family: Fira Sans;
  font-weight: Regular;
  font-size: 26px;
  opacity: 1;
  text-align: center;
}
.v204_177 {
  width: 86px;
  height: 63px;
  background: url("../images/v204_177.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 1003px;
  overflow: hidden;
}
.v204_178 {
  width: 86px;
  height: 63px;
  background: rgba(39,40,56,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v204_179 {
  width: 44px;
  height: 22px;
  background: url("../images/v204_179.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 23px;
  overflow: hidden;
}
.v204_180 {
  width: 468px;
  height: 132px;
  background: url("../images/v204_180.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v204_181 {
  width: 395px;
  height: 119px;
  background: url("../images/v204_181.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  overflow: hidden;
}
